@page
@model Atividade1Model
@using aa_time_1.Pages
@{
    ViewData["Title"] = "Atividade 1";
}

<div class="text-center" id="containerPrincipal">
    <h1 class="display-4">Atividade 1</h1>
    <h3>Análise de Complexidade</h3>

    <section id="mainAnalise">

        <div id="wrapperCanvasTempo" class="chart-wrapper">
            <span id="tempo_binaria" hidden>@Model.TempoBinaria</span>
            <span id="tempo_bolha"   hidden>@Model.TempoBolha</span>
            <span id="tempo_filtro"  hidden>@Model.TempoFiltro</span>
            <span id="tempo_linear"  hidden>@Model.TempoLinear</span>
            <canvas id="chartTempo"></canvas>
        </div>

        <div id="wrapperCanvasInstrucoes" class="chart-wrapper">
            <span id="instrucoes_binaria" hidden>@Model.InstrucoesBinaria</span>
            <span id="instrucoes_bolha"   hidden>@Model.InstrucoesBolha</span>
            <span id="instrucoes_filtro"  hidden>@Model.InstrucoesFiltro</span>
            <span id="instrucoes_linear"  hidden>@Model.InstrucoesLinear</span>
            <canvas id="chartInstrucoes"></canvas>
        </div>
    </section>
</div>

<script src="~/js/funcoes.js"></script>
<script src="~/js/atividade1.js"></script>
