@page
@model Atividade1Model
@using aa_time_1.Pages
@{
    ViewData["Title"] = "Atividade 1";
}

<div class="text-center" id="containerPrincipal">
    <h1 class="display-4">Atividade 1</h1>
    <h3><strong>Análise de Complexidade</strong></h3>
        <p>Foi feito o consumo de uma 
            <a href="http://www.portaltransparencia.gov.br/api-de-dados" target="_blank" rel="nonfollow">API do Governo Federal do Brasil</a>, 
            com o objetivo de obter dados que são liberados para desenvolvedores, afim de fazer análises de complexidade, sendo elas para os algoritmos de: Buscas(Linear e Binária), Ordenação(Bolha) e Filtragem.
        </p>
        <p>Utilizando o <a href="https://www.chartjs.org/" target="_blank" rel="nonfollow">chart.js</a>, que é uma biblioteca do JavaScript, fizemos a plotagem dos gráficos, com o intuito de fazer comparações da eficiência de cada algoritmo.</p>

    <section id="mainAnalise">

        <div id="wrapperCanvasTempo" class="chart-wrapper">
            <span id="tempo_binaria" hidden>@Model.TempoBinaria</span>
            <span id="tempo_bolha"   hidden>@Model.TempoBolha</span>
            <span id="tempo_filtro"  hidden>@Model.TempoFiltro</span>
            <span id="tempo_linear"  hidden>@Model.TempoLinear</span>
            <canvas id="chartTempo"></canvas>
        </div>

        <div id="wrapperCanvasInstrucoes" class="chart-wrapper">
            <span id="instrucoes_binaria" hidden>@Model.InstrucoesBinaria</span>
            <span id="instrucoes_bolha"   hidden>@Model.InstrucoesBolha</span>
            <span id="instrucoes_filtro"  hidden>@Model.InstrucoesFiltro</span>
            <span id="instrucoes_linear"  hidden>@Model.InstrucoesLinear</span>
            <canvas id="chartInstrucoes"></canvas>
        </div>
    </section>
</div>

<script src="~/js/funcoes.js"></script>
<script src="~/js/atividade1.js"></script>
